<section class="orders-show">

  <header class="page-header">
    <h1>Summary for Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>

    <% @order.line_items.product do |item| %>
       <%= render partial: 'orders/line_item', locals: {item: @item} %>
       <%= puts item %>
    <%end %>

  </div>


  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
