
<article class="review">

      <h4 class="userID"> User ID: <%= review.user_id %></h4>

      <p class="description"> <%= review.description %> </p>

      <p class="rating"> <%= review.rating %> Stars</p>
<% if current_user.present? && current_user.id == review.user_id %>
  <%= link_to fa_icon('trash'), product_reviews_path(review.product, review), class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
<%end %>

</article>
