<article class="review">

      <h4 class="userID"> User ID: <%= review.user_id %></h4>

      <p class="description"> <%= review.description %> </p>

      <p class="rating"> <%= review.rating %> Stars</p>
</article>
